<% provide(:title, "About") %>
<h1>About</h1>
<p>
  This application was built with <a href="https://rubyonrails.org/"><em>Ruby on Rails</em></a>. Site created by 
  <a href="https://github.com/JZaitz">Jason Zaitz</a>.
  This is a clone of the social media site twitter.
</p>